@{ 
    ViewBag.Title = "运行状态";
}

<div class="container">
    <div class="cont-wrap">
        <div class="grid_9">
            <table class="table">
                <colgroup>
                    <col style="width:13%; text-align: center" />
                    <col style="width:7%" />
                    <col style="width:7%" />
                    <col style="width:7%" />
                    <col />
                    <col style="width:13%" />
                    <col style="width:20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="center">Flag</th>
                        <th class="center">错误</th>
                        <th class="center">(ms)</th>
                        <th class="center">(KiB)</th>
                        <th class="status-project">项目</th>
                        <th class="right status-author">提交者</th>
                        <th class="center">提交时间</th>
                    </tr>
                </thead>
                <tbody class="lst-statuses"></tbody>
            </table>
            @Html.MakePager()
        </div>
        <div class="grid_3 sidebar">
            <h2 class="header">检索</h2>
            <form method="get" asp-action="Index" asp-controller="Status"></form>
        </div>
    </div>
</div>