@model IEnumerable<Problem>
@{
	Layout = null;
}

@foreach(var x in Model)
{
	<tr>
		@if (User.IsSignedIn())
		{
			<td></td>
		}
		<td><a asp-action="Show" asp-controller="Experiment" asp-route-id="@x.Id">E@(x.Id) @x.Title</a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
}