@model Problem
@{
	ViewBag.Title = "编辑 - " + Model.Title + " - 实验室";
}
<div class="container">
	<div class="cont-wrap">
		<div class="grid_9">
			<h2 class="exp-title">@Model.Title</h2>
			<h3 class="exp-sub-title">编辑实验</h3>
            <table class="detail-table">
                <tr>
                    <td class="row-title">实验名称</td>
                    <td>
                        <input type="text" class="textbox" name="Title" value="=@Model.Title" />
                    </td>
                </tr>
                <tr>
                    <td class="row-title">实验内容</td>
                    <td>
                        <textarea class="textbox" name="Description" style="width: 100%;"></textarea>
                    </td>
                </tr>
            </table>
		</div>
		<div class="grid_3 sidebar">
			<h3 class="header">操作</h3>
			@if (User.IsSignedIn())
			{
				<p><a href="javascript:$('#submit-area').removeClass('hide')"><i class="fa fa-angle-double-right"></i> 提交程序</a></p>
			}
			<p><a asp-action="Index" asp-controller="Status" asp-route-eid="@Model.Id"><i class="fa fa-angle-double-right"></i> 评测记录</a></p>
			<p><a asp-action="Index" asp-controller="Forum" asp-route-experiment="@Model.Id"><i class="fa fa-angle-double-right"></i> 讨论该题</a></p>
			@if (User.AnyRoles("Master, Root"))
			{
				<p><a asp-action="Edit" asp-controller="Experiment" asp-route-id="@Model.Id"><i class="fa fa-angle-double-right"></i> 编辑题目</a></p>
			}
		</div>
	</div>
</div>