@{
	ViewBag.Title = "实验室";
}

<div class="container">
	<div class="cont-wrap">
		<div class="grid_9">
			<table class="table">
				<thead>
					<tr>
						@if (User.IsSignedIn())
						{
							<th>状态</th>
						}
						<th>题号</th>
						<th>标题</th>
						<th></th>
						<th>通过</th>
						<th>提交</th>
						<th>通过率</th>
					</tr>
				</thead>
				<tbody class="lst-experiments"></tbody>
			</table>
			@Html.MakePager()
		</div>
		<div class="grid_3 sidebar">
			<h2 class="header">检索</h2>
			<form method="get" asp-action="Index" asp-controller="Experiment">
				
			</form>
		</div>
	</div>
</div>