@model User
@{ 
    ViewBag.Title = "修改角色 - " + Model.UserName;
}

<div class="container">
    <div class="cont-wrap">
        <div class="grid_9">
            <h2 class="exp-title">@ViewBag.Title</h2>
            <div class="cont-outer">
                <form asp-action="Role" asp-controller="Account" method="post">
                    <table class="detail-table no-border">
                        <tr>
                            <td class="row-title">角色</td>
                            <td>
                                <select name="Role">
                                    @foreach (string x in ViewBag.Roles)
                                    {
                                        <!option @(x == ViewBag.CurrentRole ? "selected": "")>@x</!option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <input type="submit" class="btn btn-default" value="保存" />
                </form>
            </div>
        </div>
        @Html.Partial("Sidebar")
    </div>
</div>